# Ignore dependencies
frontend/node_modules/
backend/node_modules/
**/node_modules/

# Environment files
backend/config/config.env
.env
**/.env
config.env
**/config.env

# OS files
.DS_Store

# Logs
*.log

# Build folders
build/
dist/